.leaflet-popup-content-wrapper {
    padding: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;
    padding: 0;
}

.leaflet-popup-content-wrapper h4{
    padding:10px 30px 3px 10px ;
    margin-bottom: 3px;
    font-size: 15px;
    border-radius:10px 10px 0 0 ;
    background-color: rgb(83, 119, 185);
    color: rgb(255, 255, 255);
}

.leaflet-popup-content-wrapper p{
    margin: 0 0 0 0 ;
    padding: 0 0 5px 10px;
    font-size:xx-large ;
    color: rgb(17, 15, 15);
    font-size: 10px;

}
